{% if app.user %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-orange fixed-top justify-content-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Twooter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_profil', {'id': app.user.id}) }}"><b>@{{ app.user.username }}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_twootes') }}">Pour toi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_my_twoots') }}">Mes Twoots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_twootes') }}">Les Twoots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_category') }}">Liste des #</a>
                    </li>

                    <li class="nav-item m-1">
                        <span class="navbar-brand border border-light px-1">Balance: 100 Cannelets</span>
                    </li>
                </ul>
                <a href="{{ path('app_create') }}" class="btn btn-violet mx-3"><strong>Twoot !</strong></a>
                <a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="bi-power" style="font-size: 1.2rem; font-weight:bold; color: white;"></i></a>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-orange">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Twooter</a>
            <div class="ms-auto d-flex">
                <a href="{{ path('app_register') }}" class="btn btn-vert text-white me-2">S'inscrire</a>
                <a href="{{ path('app_login') }}" class="btn text-white">Se connecter</a>
            </div>
        </div>
    </nav>
{% endif %}
